fastapi
uvicorn
jinja2
python-multipart

sqlalchemy
asyncpg

pydantic
dotenv
email-validator

python-jose
passlib
cryptography
google-auth

groq

torch
torchvision
numpy
opencv-contrib-python
mediapipe
pillow

scikit-learn
scipy

pytest

requests