fastapi
uvicorn
jinja2
python-multipart

sqlalchemy
asyncpg

pydantic
python-dotenv
email-validator

python-jose
pyjwt
passlib
cryptography
google-auth

groq

numpy
opencv-contrib-python
mediapipe
pillow

scikit-learn
scipy

pytest

requests