fastapi
uvicorn
jinja2
python-multipart
sqlalchemy
asyncpg
pydantic
pydantic_core
email-validator
python-jose
pyjwt
passlib
cryptography
google-auth
groq
openai
dotenv
mediapipe
pillow
scikit-learn
scikit-image
scipy
pandas
matplotlib
requests
httpx
numpy